$color1: #159dfc;  // 当前为蓝色，项目主色，用于标题栏、常规按钮、单选框、复选框、重要标题前的色块、底部导航栏选中
$color2: #ffffff;  // 白色，主背景、按钮1文字
$color3: #eef2f5;  // 淡灰色，分段列表背景、分段填写信息界面背景
$color4: #444444;  // 深灰色，主文字颜色
$color5: #999999;  // 中灰色，副文字颜色
$color6: #c7cbd4;  // 浅灰色， 未完成、分隔线、提示字体、已取消标签背景、列表左侧图标

$color7: #f7564c;  // 红色，警告
$color8: #fdc455;  // 黄色，提示、待完成标签背景
$color9: #00c38f;  // 绿色，辅助
$color10: #fefcec; // 淡黄色，提示栏背景
$color11: #fefcec; // 淡红色，警告栏背景
$color12: #0090e9; // 深蓝色，主色辅助1，一些受主色影响的背景
$color13: #ffa300; // 深黄色，主色辅助2，一些特殊的文本
