// 字体大小
$fontsize1: 18px;  // 用于少数重要标题
$fontsize2: 16px;  // 主标题、按钮
$fontsize3: 14px;  // 小按钮
$fontsize4: 12px;  // 内容、副文本
$fontsize5: 10px;  // tab、标签
$fontsize6: 50px;  // 着重强调的文本
$fontsize7: 29px;  // 一些重要文本、售价、余额

// 视图大小
$size1: 30px; // 头像大小
$size2: 0.5px; // 分隔线宽度、分隔边框宽度
$size3: 42px; // 大按钮高度
$size4: 29px; // 小按钮高度
$size5: 25px; // 图标大小


// 间距
$spacing1: 15px; // 用于app左右边距

// 圆角半径
$radius1: 5px;  //  用于圆角按钮、圆角标签
$radius2: 3px;  //  圆角边框
